<div class="inicio">

    <div id="nosotros" class="nosotrosT ">
        <div style="display: none;"></div>
        <div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                    <section class="mb-10 overflow-hidden">
                        <!-- Background image -->
                        <div class="px-4 py-5 px-md-5 text-center bg-image"
                            style="background-image: url(assets/images/sillaPlanta.png); height: 500px; background-size: cover; background-position: 50% 50%;"
                            aria-controls="#picker-editor">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.37)">
                                <div class="container h-100">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col-lg-10">
                                            <div class="text-white pb-5">
                                                <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight">
                                                    <span>Oficina recién <br> remodelada y ambueblada en <br> Plaza la
                                                        Antigua Zona
                                                        esmeralda</span>
                                                </h1> <a
                                                    class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                                    href="#contacto" role="button"
                                                    aria-controls="#picker-editor">Agendar cita</a> <a
                                                    class="btn  btn-link btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 text-white"
                                                    style="background-color: transparent" href="#gym" role="button"
                                                    aria-controls="#picker-editor">Saber más...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=""
                            style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                            <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div> <!-- Background image -->
                    </section>
                </section>
                <!---->
            </div>
        </div>
        <div data-draggable="true" style="position: relative;" class="componentsDiv">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                            <i class="fa-solid fa-shield-halved fa-3x mb-4" aria-controls="#picker-editor"></i>
                            <h5 class="text-dark fw-bold mb-3">Seguridad</h5>
                            <h6 class="fw-normal mb-0">Acceso por medio de portero virtual</h6>
                            <hr class="divider-vertical d-none d-md-block">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                            <i class="fa-solid fa-wifi fa-3x mb-4"></i>
                            <h5 class="text-dark fw-bold mb-3">Servicios básicos</h5>
                            <h6 class="fw-normal mb-0">Agua, luz, internet de alta velocidad</h6>
                            <hr class="divider-vertical d-none d-lg-block">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                            <i class="fa-solid fa-people-line fa-3x mb-4"></i>
                            <h5 class="text-dark fw-bold mb-3">Sala de juntas</h5>
                            <h6 class="fw-normal mb-0">Dentro de la oficina</h6>
                            <hr class="divider-vertical d-none d-md-block">
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                            <i class="fa-solid fa-car fa-3x mb-4" aria-controls="#picker-editor"></i>
                            <h5 class="text-dark fw-bold mb-3">Estacionamiento</h5>
                            <h6 class="fw-normal mb-0">Incluye un lugar sin costo</h6>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
        <div data-draggable="true" style="position: relative;" id="gym">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                    <div class="row gx-lg-5 mb-5 align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div id="carouselExampleControls2" class="carousel slide" data-mdb-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/assets/images/of2.png" class="d-block w-100" alt="Exotic Fruits" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/images/of1.jpg" class="d-block w-100" alt="Camera" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/images/4.png" class="d-block w-100" alt="Camera" />
                                    </div>
                                     <div class="carousel-item">
                                        <img src="/assets/images/6.png" class="d-block w-100" alt="Camera" />
                                    </div>

                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-mdb-target="#carouselExampleControls2" data-mdb-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-mdb-target="#carouselExampleControls2" data-mdb-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">La oficina</h3>
                            <div class="mb-2 text-danger small"><i class="fa-solid fa-people-group"></i><span> Crece tu
                                    negocio</span>
                            </div>
                            <p class="text-muted">Recién <span><u>remodelada</u></span> y <span><u>amueblada</u></span>
                                para que tu y tu equipo de trabajo
                                se sientan cómodos mientras operas tu negocio. Está lista para amueblar como a ti te
                                plazca.</p>

                            Precio: $15,000 / mes &nbsp;&nbsp;&nbsp;<a class="btn  btn-primary" href="#contacto"
                                role="button" aria-controls="#picker-editor">Agendar cita</a>
                        </div>
                    </div>
                    <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div id="carouselExampleControls3" class="carousel slide" data-mdb-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/assets/images/mesaesthetic.png" class="d-block w-100"
                                            alt="Wild Landscape" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/images/of3.jpg" class="d-block w-100" alt="Camera" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/images/of4.jpg" class="d-block w-100" alt="Exotic Fruits" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/assets/images/of5.jpg" class="d-block w-100" alt="Exotic Fruits" />
                                    </div>

                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-mdb-target="#carouselExampleControls3" data-mdb-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-mdb-target="#carouselExampleControls3" data-mdb-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">La renta incluye</h3>
                            <div class="mb-2 text-primary small"> <i class="fa-solid fa-people-group"></i><span>
                                    La mejor opción para reinventar tu negocio</span> </div>
                            <p class="text-muted">La oficina mide 36.88 metros cuadrados. Incluye servicios básicos de
                                luz, agua, café y cafetera. Adicional a esto, incluye entrada por portero virtual y un
                                lugar de estacionamiento para que no tengas que pagar por ello.</p>
                            Precio: $15,000 / mes &nbsp;&nbsp;&nbsp;<a class="btn  btn-primary" href="#contacto"
                                role="button" aria-controls="#picker-editor">Agendar cita</a>
                        </div>
                    </div>

                </section>
            </section>
            <!---->
        </div>
        <div class="fixed-action-btn" id="fixed1">
            <a class="btn btn-floating btn-primary btn-lg text-white" style="background-color: #25D366;"
                href="https://api.whatsapp.com/send?phone=525581809928&text=Hola, Me gustaría recibir información sobre Mya 307"
                target="_blank">
                <i class="fab fa-whatsapp fa-2xl"></i>
            </a>

            <ul class="list-unstyled">
                {{!-- <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #f44336;">
                        <i class="fas fa-star"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #fdd835;">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #4caf50;">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-floating btn-lg" style="background-color: #2196f3;">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li> --}}
            </ul>
        </div>


    </div> <br>
    <div class="serviciosT" id="servicios">
        <div id="preview" class="preview">

            <div id="contacto">
                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                        <section class="mb-10 background-radial-gradient overflow-hidden">
                            {{!-- <style>
                                .background-radial-gradient {
                                    background-color: hsl(219, 100%, 70%);
                                    background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 95%, 57%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
                                }

                                #radius-shape-1 {
                                    height: 220px;
                                    width: 220px;
                                    top: -60px;
                                    left: -130px;
                                    background: radial-gradient(#d8b836, #eda047);
                                    overflow: hidden;
                                }

                                #radius-shape-2 {
                                    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                                    bottom: -60px;
                                    right: -110px;
                                    width: 300px;
                                    height: 300px;
                                    background: radial-gradient(#d8b836, #eda047);
                                    overflow: hidden;
                                }

                                .bg-glass {
                                    background-color: hsla(0, 0%, 100%, 0.9) !important;
                                    backdrop-filter: saturate(200%) blur(25px);
                                }
                            </style> --}}
                            <div class="container px-4 py-5 px-md-5 text-center text-lg-start">

                                <div class="row gx-lg-5 align-items-center mb-5">
                                    <div class="col-lg-6 mb-5 mb-lg-0 theBest" style="z-index: 10">


                                        <h1 class=" display-3 fw-bold ls-tight titleContact"
                                            style="color: hsl(218, 81%, 95%)">
                                            <span>Oficina recién remodelada y amueblada</span>
                                            <hr> <span style="color: hsl(218, 82%, 83%)">
                                                Plaza la antigua, Zona esmeralda</span>
                                        </h1>

                                    </div>
                                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative contactForm">
                                        <div id="radius-shape-1"
                                            class="position-absolute rounded-circle shadow-5-strong"></div>
                                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                                        <div class="card bg-glass">
                                            <div class="card-body px-4 py-5 px-md-5">
                                                <form action="/ajax/email" method="POST"
                                                    onsubmit="return submitEmailForm(this);">
                                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                                    <div class="row">
                                                        <div class="col-md-12 mb-4">
                                                            <div class="form-outline"> <input type="text"
                                                                    id="form3Example1" class="form-control formInput"
                                                                    name="name" required>
                                                                <label class="form-label" for="form3Example1"
                                                                    style="margin-left: 0px;">Nombre</label>
                                                                <div class="form-notch">
                                                                    <div class="form-notch-leading" style="width: 9px;">
                                                                    </div>
                                                                    <div class="form-notch-middle"
                                                                        style="width: 68.8px;"></div>
                                                                    <div class="form-notch-trailing"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div> <!-- Email input -->
                                                    <div class="form-outline mb-4"> <input type="email"
                                                            id="form3Example3" class="form-control formInput"
                                                            name="email" required>
                                                        <label class="form-label" for="form3Example3"
                                                            style="margin-left: 0px;">Correo electrónico</label>
                                                        <div class="form-notch">
                                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                                            <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                            <div class="form-notch-trailing"></div>
                                                        </div>
                                                    </div> <!-- Number input -->
                                                    <div class="form-outline mb-4">
                                                        <input type="number" id="form6Example6"
                                                            class="form-control formInput" name="number" required />
                                                        <label class="form-label" for="form6Example6">Teléfono</label>
                                                    </div>
                                                    <!-- Message input -->
                                                    <div class="form-outline mb-4">
                                                        <textarea class="form-control formInput" id="form4Example3"
                                                            rows="1" name="message" required></textarea>
                                                        <label class="form-label" for="form4Example3">¿Planeas rentar
                                                            este mismo mes?</label>
                                                    </div>
                                                    <!-- Checkbox -->
                                                    <div class="form-check d-flex justify-content-center mb-4"> <input
                                                            class="form-check-input me-2" type="checkbox" value=""
                                                            id="form2Example33" checked="" required> <label
                                                            class="form-check-label" for="form2Example33">Accept
                                                            <span><a href="/privacidad">política de
                                                                    privacidad</a></span></label>
                                                    </div> <!-- Submit button -->
                                                    <button type="submit" class="btn  btn-primary btn-block mb-4"
                                                        aria-controls="#picker-editor">Send</button>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>